Repository petercb/minecraft-containers: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-brc, build-mb, build-mj, build-velocity

.circleci/config.yml:

version: 2.1
setup: true
orbs:
  path-filtering: circleci/path-filtering@0.0.2
workflows:
  generate-config:
    jobs:
      - path-filtering/filter:
          base-revision: master
          config-path: .circleci/continue_config.yml
          mapping: |
            bedrock-connect/.* build-brc true
            minecraft-bedrock/.* build-mb true
            minecraft-java/.* build-mj true
            velocity-proxy/.* build-velocity true

Bedrock-connect: update to 1.44
  bedrock-connect/Dockerfile
Due: build-brc

Minecraft-java: update to 1.20.6-137
  minecraft-java/Dockerfile
Due: build-mj

bedrock-connect: update to 1.45
  bedrock-connect/Dockerfile
Due: build-brc

minecraft-java: update to paper 1.21-107
  minecraft-java/Dockerfile
Due: build-mj

minecraft-java: add libstdc++
  minecraft-java/Dockerfile
Due: build-mj

velocity-proxy: update to 3.3.0-411
  velocity-proxy/Dockerfile
Due: build-velocity

minecraft-bedrock: update to 1.21.22.01
  minecraft-bedrock/Dockerfile
  minecraft-bedrock/container-structure-test.yaml
  minecraft-bedrock/entrypoint.sh
Due: build-mb

minecraft-java: update to paper 1.21.1-52
  minecraft-java/Dockerfile
Due: build-mj

velocity-proxy: update to 3.3.0-416
  velocity-proxy/Dockerfile
Due: build-velocity

minecraft-java: Update to papermc 1.21.1-119
  minecraft-java/Dockerfile
  minecraft-java/entrypoint.sh
Due: build-mj

velocity-proxy: Update to 3.3.0-436
  velocity-proxy/Dockerfile
  velocity-proxy/entrypoint.sh
Due: build-velocity

minecraft-java: Update to Paper 1.21.1-123
  minecraft-java/Dockerfile
Due: build-mj

velocity-proxy: update to 3.3.0-439
  velocity-proxy/Dockerfile
Due: build-velocity

velocity-proxy (fix): update to 3.4.0-439
  velocity-proxy/Dockerfile
Due: build-velocity

velocity-proxy: update to 3.4.0-445
  velocity-proxy/Dockerfile
Due: build-velocity

minecraft-java: update to paper 1.21.1-131
  minecraft-java/Dockerfile
Due: build-mj

minecraft-java: update to 1.21.3-84
  minecraft-java/Dockerfile
Due: build-mj

velocity-proxy: update to 3.4.0-454
  velocity-proxy/Dockerfile
Due: build-velocity

velocity-proxy: update to 3.4.0-459
  velocity-proxy/Dockerfile
Due: build-velocity

minecraft-java: update paper to 1.21.3-82
  minecraft-java/Dockerfile
Due: build-mj

minecraft-java: update to paper 1.21.4-114
  minecraft-java/Dockerfile
Due: build-mj

velocity-proxy: update to 3.4.0-461
  velocity-proxy/Dockerfile
Due: build-velocity

minecraft-java: update Paper to 1.21.4-138
  minecraft-java/Dockerfile
Due: build-mj

velocity-proxy: update to 3.4.0-469
  velocity-proxy/Dockerfile
Due: build-velocity

minecraft-java: update to Paper 1.21.4-211
  minecraft-java/Dockerfile
Due: build-mj

velocity-proxy: update to 3.4.0-481
  velocity-proxy/Dockerfile
Due: build-velocity

velocity-proxy: update to 3.4.0-483
  velocity-proxy/Dockerfile
Due: build-velocity

minecraft-java: update to Paper 1.21.4-222
  minecraft-java/Dockerfile
Due: build-mj

velocity-proxy: update to 3.4.0-503
  .circleci/continue_config.yml
  velocity-proxy/Dockerfile
Due: build-velocity

minecraft-java: update to PaperMC 1.21.4-230
  minecraft-java/Dockerfile
Due: build-mj

minecraft-java: update to PaperMC 1.21.6-47
  minecraft-java/Dockerfile
Due: build-mj

velocity-proxy: update to 3.4.0-517
  velocity-proxy/Dockerfile
Due: build-velocity

minecraft-java: update to 1.21.7-16
  minecraft-java/Dockerfile
Due: build-mj

velocity-proxy: update to 3.4.0-521
  velocity-proxy/Dockerfile
Due: build-velocity

minecraft-java: update to Paper 1.21.8-11
  minecraft-java/Dockerfile
Due: build-mj

velocity-proxy: update to 3.4.0-522
  velocity-proxy/Dockerfile
Due: build-velocity

velocity-proxy: Update to 3.4.0-540
  velocity-proxy/Dockerfile
  velocity-proxy/container-structure-test.yaml
Due: build-velocity

minecraft-java: Update to Paper 1.21.10-115
  minecraft-java/Dockerfile
Due: build-mj

velocity-proxy: update to 3.4.0-557
  velocity-proxy/Dockerfile
Due: build-velocity

velocity-proxy: fix tests
  velocity-proxy/container-structure-test.yaml
Due: build-velocity
