Repository petercb/minecraft-containers: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-brc, build-mb, build-mj, build-velocity

.circleci/config.yml:

version: 2.1
setup: true
orbs:
  path-filtering: circleci/path-filtering@0.0.2
workflows:
  generate-config:
    jobs:
      - path-filtering/filter:
          base-revision: master
          config-path: .circleci/continue_config.yml
          mapping: |
            bedrock-connect/.* build-brc true
            minecraft-bedrock/.* build-mb true
            minecraft-java/.* build-mj true
            velocity-proxy/.* build-velocity true

Add container tests for bedrock server
  .circleci/continue_config.yml
  minecraft-bedrock/Dockerfile
  minecraft-bedrock/container-structure-test.yaml
Due: build-mb

Store container structure test results
  .circleci/continue_config.yml
Due: none

Update PaperMC to 1.18.1-140
  minecraft-java/Dockerfile
Due: build-mj

Update Velocity proxy and plugins
  velocity-proxy/Dockerfile
  velocity-proxy/Geyser-Velocity.jar
  velocity-proxy/floodgate-velocity.jar
Due: build-velocity

minecraft-java: Add test for ViaVersion plugin
  minecraft-java/container-structure-test.yaml
Due: build-mj

velocity: Fix git-lfs build issue
  .circleci/continue_config.yml
  velocity-proxy/container-structure-test.yaml
Due: build-velocity

Fix path to test results
  .circleci/continue_config.yml
Due: none

Update minecraft-java to 1.19.2
  .pre-commit-config.yaml
  minecraft-java/Dockerfile
  minecraft-java/container-structure-test.yaml
  minecraft-java/entrypoint.sh
Due: build-mj

Update bedrock-connect to 1.21
  bedrock-connect/Dockerfile
  bedrock-connect/container-structure-test.yaml
Due: build-brc

Update Velocity and plugins
  velocity-proxy/Dockerfile
  velocity-proxy/Geyser-Velocity.jar
  velocity-proxy/container-structure-test.yaml
  velocity-proxy/entrypoint.sh
  velocity-proxy/floodgate-velocity.jar
Due: build-velocity

Bedrock Connect upgrade to 1.29
  bedrock-connect/Dockerfile
Due: build-brc

Update Minecraft (Java)
  minecraft-java/Dockerfile
  minecraft-java/entrypoint.sh
Due: build-mj

Update Velocity to 3.2.0
  minecraft-java/Dockerfile
  velocity-proxy/Dockerfile
  velocity-proxy/Geyser-Velocity.jar
  velocity-proxy/entrypoint.sh
  velocity-proxy/floodgate-velocity.jar
Due: build-mj, build-velocity

Update all containers to latest
  .circleci/continue_config.yml
  .pre-commit-config.yaml
  README.md
  bedrock-connect/Dockerfile
  bedrock-connect/container-structure-test.yaml
  local-build-test.sh
  minecraft-bedrock/Dockerfile
  minecraft-java/Dockerfile
  minecraft-java/container-structure-test.yaml
  velocity-proxy/Dockerfile
  velocity-proxy/Geyser-Velocity.jar
  velocity-proxy/container-structure-test.yaml
  velocity-proxy/floodgate-velocity.jar
Due: build-brc, build-mb, build-mj, build-velocity

Update Geyser to build 363
  velocity-proxy/Dockerfile
Due: build-velocity

Update Velocity to build 296
  velocity-proxy/Dockerfile
  velocity-proxy/container-structure-test.yaml
Due: build-velocity

Update Bedrock-Connect to 1.40
  .pre-commit-config.yaml
  bedrock-connect/Dockerfile
Due: build-brc

Velocity-Proxy: Removed plugins
  velocity-proxy/Dockerfile
  velocity-proxy/container-structure-test.yaml
  velocity-proxy/entrypoint.sh
Due: build-velocity

Minecraft (Java): Remove plugins
  minecraft-java/Dockerfile
  minecraft-java/container-structure-test.yaml
  minecraft-java/entrypoint.sh
Due: build-mj

Minecraft (Bedrock): update to 1.20.51.01
  minecraft-bedrock/Dockerfile
Due: build-mb

Build minecraft-java for ARM64 as well
  .circleci/continue_config.yml
  minecraft-java/README.md
Due: build-mj

Velocity-Proxy: cleanup lingering plugin bits, add README
  velocity-proxy/Dockerfile
  velocity-proxy/README.md
  velocity-proxy/container-structure-test.yaml
Due: build-velocity

Bedrock-Connect: Add README
  bedrock-connect/README.md
Due: build-brc

Upgrade Velocity to 3.3.0 build 320
  velocity-proxy/Dockerfile
Due: build-velocity

Update PaperMC to 1.20.4 build 385
  minecraft-java/Dockerfile
  minecraft-java/README.md
Due: build-mj

Update PaperMC to 1.20.4-489
  minecraft-java/Dockerfile
Due: build-mj

Update Velocity to 3.3.0-377
  velocity-proxy/Dockerfile
Due: build-velocity

Update Bedrock connect to 1.42
  bedrock-connect/Dockerfile
  bedrock-connect/container-structure-test.yaml
Due: build-brc

Fix velocity tests for Java update
  velocity-proxy/container-structure-test.yaml
Due: build-velocity

Update Minecraft Bedrock server to 1.20.73.01
  minecraft-bedrock/Dockerfile
  minecraft-bedrock/README.md
Due: build-mb

Update PaperMC container to Java 21
  minecraft-java/Dockerfile
  minecraft-java/container-structure-test.yaml
Due: build-mj

Minecraft-java: Switch to Alpine based container
  minecraft-java/Dockerfile
  minecraft-java/entrypoint.sh
Due: build-mj

bedrock-connect: update to 1.42.1
  bedrock-connect/Dockerfile
Due: build-brc

velocity-proxy: Update base image to Alpine variant
  velocity-proxy/Dockerfile
  velocity-proxy/entrypoint.sh
Due: build-velocity

bedrock-connect: update to 1.43
  bedrock-connect/Dockerfile
Due: build-brc

Velocity-proxy: update to 3.3.0-385
  velocity-proxy/Dockerfile
Due: build-velocity

velocity-proxy: update to 3.3.0-390
  velocity-proxy/Dockerfile
Due: build-velocity

Bedrock: update to 1.20.81.01
  minecraft-bedrock/Dockerfile
Due: build-mb

Minecraft-java: update to paper-mc 1.20.6-129
  minecraft-java/Dockerfile
Due: build-mj

Velocity-proxy: update to 3.3.0-396
  velocity-proxy/Dockerfile
Due: build-velocity
