Repository petercb/minecraft-containers: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-brc, build-mb, build-mj, build-velocity

.circleci/config.yml:

version: 2.1
setup: true
orbs:
  path-filtering: circleci/path-filtering@0.0.2
workflows:
  generate-config:
    jobs:
      - path-filtering/filter:
          base-revision: master
          config-path: .circleci/continue_config.yml
          mapping: |
            bedrock-connect/.* build-brc true
            minecraft-bedrock/.* build-mb true
            minecraft-java/.* build-mj true
            velocity-proxy/.* build-velocity true

minecraft-bedrock: update to 1.21.124.2
  minecraft-bedrock/Dockerfile
Due: build-mb

[ci skip] Removed Bedrock-Connect
  bedrock-connect/Dockerfile
  bedrock-connect/README.md
  bedrock-connect/container-structure-test.yaml
Due: build-brc

velocity-proxy: update to 3.4.0-558
  velocity-proxy/Dockerfile
Due: build-velocity

minecraft-java: update to Paper 1.21.11-74
  minecraft-java/Dockerfile
Due: build-mj

velocity-proxy: update to 3.4.0-559
  local-build-test.sh
  velocity-proxy/Dockerfile
Due: build-velocity

minecraft-java: fix build and update to Java 25
  minecraft-java/Dockerfile
  minecraft-java/container-structure-test.yaml
Due: build-mj

minecraft-java: update to Paper 1.21.11-91
  minecraft-java/Dockerfile
Due: build-mj

velocity-proxy: update to 3.4.0-561
  velocity-proxy/Dockerfile
Due: build-velocity

minecraft-bedrock: update to 1.21.132.3
  minecraft-bedrock/Dockerfile
Due: build-mb

minecraft-java: update to Paper 1.21.11-99
  minecraft-java/Dockerfile
Due: build-mj

velocity-proxy: update to 3.4.0-563
  velocity-proxy/Dockerfile
Due: build-velocity

minecraft-bedrock: fix docker build
  local-build-test.sh
  minecraft-bedrock/Dockerfile
  minecraft-bedrock/build-env.sh
Due: build-mb

Fix local test to emulate platform
  local-build-test.sh
Due: none

minecraft-java: update to Paper 1.21.11-113
  minecraft-java/Dockerfile
Due: build-mj

velocity-proxy: update to 3.5.0-576
  velocity-proxy/Dockerfile
Due: build-velocity

minecraft-bedrock: update to 1.26.0.2
  minecraft-bedrock/Dockerfile
Due: build-mb

velocity-proxy: update to 3.5.0-577
  velocity-proxy/Dockerfile
Due: build-velocity

minecraft-java: update to Paper 1.21.11-126
  minecraft-java/Dockerfile
Due: build-mj

minecraft-bedrock: update to 1.26.3.1
  minecraft-bedrock/Dockerfile
Due: build-mb

velocity-proxy: update to 3.5.0-584
  velocity-proxy/Dockerfile
Due: build-velocity

minecraft-java: update Paper to 1.21.11-127
  minecraft-java/Dockerfile
Due: build-mj

velocity-proxy: update to 3.5.0-585
  velocity-proxy/Dockerfile
Due: build-velocity

minecraft-java: update to 1.21.11-130
  minecraft-java/Dockerfile
Due: build-mj

velocity-proxy: 3.5.0-590
  velocity-proxy/Dockerfile
Due: build-velocity

velocity-proxy: update to 3.5.0-593
  velocity-proxy/Dockerfile
Due: build-velocity

minecraft-java: update to 26.1.2-53
  minecraft-java/Dockerfile
Due: build-mj

velocity-proxy: update to 3.5.0-594
  velocity-proxy/Dockerfile
Due: build-velocity

velocity-proxy: update to 3.5.0-601
  velocity-proxy/Dockerfile
Due: build-velocity

minecraft-java: update to 26.1.2-69
  minecraft-java/Dockerfile
Due: build-mj

minecraft-java: update to 26.1.2-74
  minecraft-java/Dockerfile
  minecraft-java/container-structure-test.yaml
Due: build-mj

velocity: update to 3.6.0-613
  velocity-proxy/Dockerfile
  velocity-proxy/container-structure-test.yaml
Due: build-velocity
